::selection {
    background: rgba(255, 255, 0, 0.5);
}

body {
    background: #de2f32;
}

.window {
    width: 340px;
    height: 340px;
    background: #a0d5d3;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    margin-top: -60px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 10px solid #f8e7dc;
    overflow: hidden;
}

.santa {
    position: absolute;
    left: 50%;
    bottom: 0;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
.message {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: 80px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    color: #f8e7dc;
    font-family: 'Mountains of Christmas';
}
.message h1 {
    font-style: normal;
    font-size: 75px;
    margin-bottom: 0;
    white-space: nowrap;
}

.message h2 {
    margin: 0;
    font-size: 20px;
    text-align: center;
    white-space: nowrap;
}

.message h2 a {
    color: #f7be10;
    opacity: 0.8;
}

.message h2 a:hover {
    opacity: 1;
}

.christmas {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* transform: rotate(-10deg); */
    background-image: radial-gradient(circle at 30% 30%, #fff 1.5%, transparent 2.5%), radial-gradient(circle at 80% 70%, #fff 1.5%, transparent 2.5%), radial-gradient(circle at 30% 50%, #fff 1%, transparent 2%), radial-gradient(circle at 70% 85%, #fff 1%, transparent 2%);
    background-size: 10% 30%;
    background-position: 0 0, 0 0, 0 0, 0 0;
    -webkit-animation: snow 3s linear infinite ;
            animation: snow 3s linear infinite ;
  }
  @-webkit-keyframes snow {
    100% {
      background-position: 0px 200px, 0 200px, 0px 200px, 0px 200px;
    }
  }
  @keyframes snow {
    100% {
      background-position: 0px 200px, 0 200px, 0px 200px, 0px 200px;
    }
  }